:root {
    --color-primary: rgb(42, 50, 69);
}

:root {
    --color-primary-2: rgb(52, 60, 79)
}

:root {
    --color-primary-with-opacity: rgb(42, 50, 69, 0.5)
}

:root {
    --color-red: rgb(255, 0, 66);
}

:root {
    --color-red-light: rgb(255, 125, 159)
}

:root {
    --color-green: rgb(91, 234, 148);
}

:root {
    --color-green-light: rgb(134, 246, 179);
}

:root {
    --color-scroll-excel: #dadce0;
}

:root {
    --color-blue-excel: #e6effd;
}

:root {
    --color-blue-2: rgb(236, 241, 245);
}

:root {
    --color-blue-1: rgb(245, 248, 252);
}

:root {
    --color-blue-0: rgb(248, 250, 253);
}

:root {
    --color-primary-hover: rgb(55, 63, 82);
}

:root {
    --color-primary-pressed: rgb(30, 32, 34);
}

:root {
    --color-outline-pressed: rgb(150, 160, 170);
}

:root {
    --color-white: #ffffff;
}

.bg-blue-0 {
    background: var(--color-blue-0);

}

.bg-blue-2 {
    background: var(--color-blue-2);
}

.bg-white {
    background: var(--color-white);
}

.bg-primary{
    background: var(--color-primary);
}

.bg-primary-2 {
    background: var(--color-primary-2);
}


