.mt-6 {
    margin-top: 6px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-18 {
    margin-top: 18px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-96{
    margin-top: 96px;
}

.ml-6 {
    margin-left: 6px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-18 {
    margin-left: 18px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-48 {
    margin-left: 48px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-96{
    margin-bottom: 96px;
}