.double-page-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 48px;
    padding-top: 86px;
    padding-bottom: 48px;
}

.double-page-content {
    width: 840px;
}

.double-page-right {
    width: 420px;
}

@media screen and (max-width: 1324px) {
    .double-page-wrapper{
        gap: 12px;
    }
    .double-page-right{
        width: 840px;
    }
}

@media screen and (max-width: 600px) {
    .double-page-wrapper{
        padding-top: 48px;
    }

    .__hide_in_mobile{
        display: none;
    }
}


@media screen and (min-width: 601px) {
    .__hide_in_full_screen {
        display: none;
    }
}
